
<footer class="large-cont">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="second-color">contact us<span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <address>
                    <span><i class="fa fa-map-marker"></i>Lakhani Chowk, Faridabad, Haryana</span>
                    <div class="footer-separator"></div>
                    <span><i class="fa fa-envelope fa-sm"></i><a href="#">estatevalueofficial@gmail.com</a></span>
                    <div class="footer-separator"></div>
                    <span><i class="fa fa-phone"></i>+91-(7545840365)</span>
                </address>
                <div class="clear"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="second-color">About<span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                The Estate Value Real Estate team has consistently set the standard for the real estate industry since 2022. Never settle for less when it comes to your home. The relentless Estate value team is at your side to make your move as smooth as possible.
At Estate Value you can find a Property  near you.
                
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h4 class="second-color">Privacy Policy <span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                We think transparency is important.  In this overview, we summarize the personal information we collect and how we use it, which is further explained in our Privacy Notice below.  Keep in mind that the actual information we collect, and our use of such personal information varies depending upon the nature of our relationship and interactions with an individual. Also, in some cases (such as where required by law), we ask for your consent or give you certain choices prior to collecting or using certain personal information. 
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h4 class="second-color">Mission <span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                Our mission is to provide you with experiences that will last a lifetime. We are committed to being the first choice in the housing journey of our consumers and partners, whether they are looking for a home, renting, buying, selling, or financing it.
                <br><br><br>
                <h4 class="second-color">Feedback <span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>

                <form class="form-inline footer-newsletter">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="enter your email">
                    <button type="submit" class="btn"><i class="fa fa-lg fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</footer>
<footer class="small-cont">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 small-cont">
                <img src="images/logo-light.png" alt="" class="img-responsive footer-logo" />
            </div>
            
        </div>
    </div>
</footer>
</div>	


</footer>

</div>	

<script type="text/javascript" src="js/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="js/jQuery/jquery-ui.min.js"></script>

<!-- Bootstrap-->
<script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>


<!-- Google Maps -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDfDCV5hXiPamCIT8_vwGXuzimLQ9MF76g&amp;sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/indexmap.js"></script>
<script type="text/javascript" src="js/everyproperty.js"></script>


<!-- plugins script -->
<script type="text/javascript" src="js/plugins.js"></script>

<!-- template scripts -->
<script type="text/javascript" src="mail/validate.js"></script>
<script type="text/javascript" src="js/apartment.js"></script>
