<script src="https://kit.fontawesome.com/c349b9fb52.js" crossorigin="anonymous"></script>
<div
style="
  background: #beaf87;
  padding: 30px 0;
  text-align: center;
  font-family: Arial;
"
>
<div style="width:100%;">
  <?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="396.000000pt" height="100.000000pt" viewBox="0 0 396.000000 100.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
</g>
</svg>

</div>
</div>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= email %></h3>
  <h2 >OTP <%= otp %></h2>
</div>
<div

  style="
    background:#252526;
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
    color: #fff;
  "
>
<div style="display:flex;">
  <div style="width:30%">
<span><i class="fa fa-phone"></i>01-23456789</span>
</div>
<div style="width:30%;">
<span><i class="fa fa-mail"></i>estatevalueofficial@gmail.com</span>
</div>
<div style="width:30%;">
<span><i class="fa fa-globe"></i><a href="www.estatevalue.in">www.estatevalue.in</a></span>
</div>
</div>


</div>