
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0" width="600">
            <tr>
              <td align="center" bgcolor="#beaf87" style="padding: 40px 0 30px 0;">
                <img src="images\slides\New Homes Logo - Original - 5000x5000.png" alt="Estate Vlaue" width="300" height="230" style="display: block;">
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td>
                      <p style="color: #333; font-size: 18px;">
                        Hello <%=companyname%>,
                      </p>
                      <p style="color: #333; font-size: 14px; line-height: 20px;">
                        We hope this email finds you well. We wanted to reach out to you to share the following message: <%=name%> is Interested in your Property, <%=email2%> & <%=phoneno%>
                      </p>
                      <p style="color: #333; font-size: 14px; line-height: 20px;">
                        If you have any questions or concerns, please don't hesitate to reach out to us. We'd be happy to assist you in any way we can.
                      </p>
                      <p style="color: #333; font-size: 14px; line-height: 20px;">
                        Best regards,<br>
                        Ritesh
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
                