<script src="https://kit.fontawesome.com/c349b9fb52.js" crossorigin="anonymous"></script>
<div
style="
  background: #beaf87;
  padding: 30px 0;
  text-align: center;
  font-family: Arial;
"
>

</div>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= companyname %> a client is having a question <%=message%> . </h3>
  <h2 >Contact no= <%=phoneno%></h2>
  <h2 >Mail id= <%=email2%></h2>
</div>
<div

  style="
    background:#252526;
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
    color: #fff;
  "
>
<div style="display:flex;">
  <div style="width:30%">
<span><i class="fa fa-phone"></i>01-23456789</span>
</div>
<div style="width:30%;">
<span><i class="fa fa-mail"></i>estatevalueofficial@gmail.com</span>
</div>
<div style="width:30%;">
<span><i class="fa fa-globe"></i><a href="www.estatevalue.in">www.estatevalue.in</a></span>
</div>
</div>


</div>