<link rel="stylesheet" type="text/css" href="css/apartment-layout.css">
    <link id="skin" rel="stylesheet" type="text/css" href="css/apartment-colors-blue.css">
	<script src="https://kit.fontawesome.com/c349b9fb52.js" crossorigin="anonymous"></script>

<!-- otp modal -->
<div class="modal fade apartment-modal" id="register-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title">
					<h1>Email Verification<span class="special-color">.</span></h1>
					<div class="short-title-separator"></div>
				</div>
				<form action="/otp" method="post">
				<input name="verifypin" type="hidden" class="input-full main-input" value="<%=pinemail%>" />
				<input name="verifypinphn" type="hidden" class="input-full main-input" value="<%=pinphn%>" />
				<input name="email" type="hidden" class="input-full main-input" value="<%=email%>" />
				<input name="mobile" type="hidden" class="input-full main-input" value="<%=phoneno%>" />

				<input name="mailpin" type="text" class="input-full main-input" maxlength="6" size="6"placeholder="Otp send on your mail id" required />

				<!-- <input name="phnpin" type="text" class="input-full main-input" maxlength="6" size="6"placeholder="Otp send on your mail id" required /> -->
				<!-- <input name="phonepin" type="text" class="input-full main-input" maxlength="6" size="6"placeholder="Otp send on your mail id" required /> -->
				
				
				<button style="all:unset;" type="submit"><a href="" class="button-primary button-shadow button-full">
					<span>Verify</span>
					<div class="button-triangle"></div>
					<div class="button-triangle2"></div>
					<div class="button-icon"><i class="fa fa-user"></i></div>
				</a>
			</button>
		</form>
			
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->